#index-title {
    background-color: yellow;
    text-align: center;
}

.avocato {
    background-color: green;
}

.egg {
    background-color: rgb(233, 197, 151);
}

.pancake {
    background-color: rgba(151, 118, 28, 0.758);
}